__pycache__/
*.py[codz]
*$py.class
.Python
build/
dist/
downloads/
parts/
sdist/
var/
share/python-wheels/
pip-log.txt
pip-delete-this-directory.txt
.cache
*.py.cover
.pytest_cache/
.pybuilder/
target/
profile_default/
ipython_config.py
.pdm-python
.pdm-build/
.pixi
_pypackages__/
.env
.envrc
.venv
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
.pyre/
.pytype/
.vscode/
.ruff_cache/
.pypirc
n
*.pyc
gerenciar_aplicação.bat
upx.1
upx.exe
*.xml
Thumbs.db
desktop.ini
.env.local
logs
